.hero {
  margin-top: 50px;

  &__img {
    position: relative;
    margin-bottom: 3em;
    
    img {
      width: 100%;
    }

    &::after {
      content: '';
      position: absolute;
      width: 90%;
      height: 80%;
      background: $color-soft-blue;
      top: 25%;
      right: -20%;
      border-bottom-left-radius: 35%;
      z-index: -1;
    }
  }
}
