.bk {
  &__card {
    margin: 20px 10%;
    border-radius: 30px;
    box-shadow: 0 2px 12px 4px rgba(0,0,0,0.1);
    padding: 20px 30px 40px;

    .bk__img {
      width: 100px;
      margin: 0 auto;
      display: block;
    }

    .bk__button {
      display: block;
    }
  }

  &__separator {
    margin: 35px -30px 45px;
    min-height: 3px;
    background-image: linear-gradient(to right, rgba(0,0,0,.2) 10%, rgba(255, 255, 255, 0) 0%);
    background-position: top;
    background-size: 25px 3px;
    background-repeat: repeat-x;
  }
}